.top{
    width: 100vw;
    height: 15.0rem;
    border-bottom: 20px solid #F90;
    background: #000AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.0rem;
    color: white;
}

.top a{
    color: white;
    font-weight: bold;
}

.top input{
    width: 45.0rem;
    height: 3.5rem;
    padding: 1.6rem;
}

.top button{
    height: 3.0rem;
    width: 10.0rem;
}